<app-window [componentRef]="componentRef" (close)="onHandleClose()">
    <div title>Producción por Cultivo</div>
    <div content style="width: 700px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <form [formGroup]="form" (ngSubmit)="onSubmitForm($event)">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <app-ciclo [group]="form" name="ciclo"></app-ciclo>
                            </div>
                            <div class="form-group col-md-4">
                                <app-modalidad [group]="form" name="modalidad"></app-modalidad>
                                <app-catalogo [group]="form" name="catalogo" (selected)="onSelectedChanged($event)"></app-catalogo>
                                <app-anio [group]="form" name="anio"></app-anio>
                            </div>
                            <div class="form-group col-md-5">
                                <app-estado [group]="form" name="estado" (selected)="onChangeEstadoItem($event)"></app-estado>
                                <app-distrito [group]="form" name="distrito" (selected)="onChangeDistritoItem($event)"></app-distrito>
                                <app-municipio [group]="form" name="municipio" (selected)="onChangeMunicipioItem($event)"></app-municipio>
                                <button type="submit" class="button primary float-right">
                                    <span class="mif-search"></span>
                                </button>

                                <button type="button" class="button float-right" (click)="onHandleClick()">
                                    <div class="color-picker" [ngStyle]="{'background-color': background_color}"></div>
                                </button>
                                <div class="absolute">
                                    <app-color-picker (colorSelect)="onColorSelected($event)"></app-color-picker>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="showTable" class="row">
                <div class="col-lg-12">
                    <ag-grid-angular style="width: 100%; height: 260px;" class="ag-theme-balham" [pagination]="true" [paginationAutoPageSize]="true"
                        (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)" [rowSelection]="'single'"
                        [enableSorting]="true" [enableFilter]="true" [rowData]="rowData" [columnDefs]="columnDefs" [enableColResize]="true">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</app-window>
