@import 'bootstrap/dist/css/bootstrap.min.css';

.btn {
    margin: 3px 0 5px 3px;
}

.form-group {
    margin-top: 0;
    margin-bottom: 0;
}

.container-fluid {
    padding-left: 6px;
    padding-right: 6px;
}
