<app-window [componentRef]="componentRef">
    <p>Producción por Cultivo</p>
    <div class="container-fluid" style="width: 600px;">
        <form [formGroup]="form" (ngSubmit)="onSubmitForm($event)">
            <div class="form-row">
                <div class="form-group col-md-3" style="margin-top: 1rem;">
                    <app-ciclo [group]="form" name="ciclo"></app-ciclo>
                </div>
                <div class="form-group col-md-4">
                    <app-modalidad [group]="form" name="modalidad"></app-modalidad>
                    <app-catalogo [group]="form" name="catalogo"></app-catalogo>
                </div>
                <div class="form-group col-md-5">
                    <app-anio [group]="form" name="anio"></app-anio>
                    <app-estado [group]="form" name="estado" (selected)="onChangeEstadoItem($event)"></app-estado>
                    <app-distrito [group]="form" name="distrito" (selected)="onChangeDistritoItem($event)"></app-distrito>
                    <app-municipio [group]="form" name="municipio"></app-municipio>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary float-right">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</app-window>
