<app-window #window [componentRef]="componentRef">
    <div title>Rangos</div>
    <div content style="width: 400px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <select #variables name="variable" (click)="onSelectElement($event)">
                        <option value="sembrada" selected>Superficie Sembrada</option>
                        <option value="cosechada">Superficie Cosechada</option>
                        <option value="siniestrada">Superficie Siniestrada</option>
                        <option value="produccion">Producción</option>
                        <option value="rendimiento">Rendimiento</option>
                        <option value="pmr">PMR</option>
                        <option value="valor">Valor de la Producción</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <input type="number" min="3" max="5" value="3" (click)="onSelecteRange($event)" />
                </div>
            </div>
            <div class="margin">
                <div class="row" *ngFor="let n of countRows">
                    <div class="col-lg-3">
                        Rango {{n.idx}}
                    </div>
                    <div class="col-lg-4">
                        <input type="text" disabled value="{{n.min | number:'1.2'}}" />
                    </div>
                    <div class="col-lg-4">
                        <input type="text" disabled value="{{n.max | number:'1.2'}}" />
                    </div>
                    <div class="col-lg-1">
                        {{n.per * 100}}%
                    </div>
                </div>
            </div>
            <div class="row">
                <app-color-picker></app-color-picker>
                <button type="button" class="button primary" (click)="onHandleClick($event)">
                    <span class="mif-search"></span>
                </button>
            </div>
        </div>
    </div>
</app-window>
