<div ngDraggable [handle]="handler" class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div #handler class="modal-header">
                <button (click)="close($event)" aria-label="Close" class="close" type="button">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>