<div [formGroup]="group">
    <fieldset>
        <legend>Cultivo</legend>
        <select id="cultivos" (change)="onChangeCultivo($event)" formControlName="{{nameFormCultivo}}">
            <option *ngFor="let item of cultivos" [value]="item.id">{{item.nombre}}</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Variedad</legend>
        <select id="variedades" #variedad (change)="onChangeVariedades($event)" formControlName="{{nameFormVariedad}}">
            <option *ngFor="let item of variedades" [value]="item.id">{{item.variedad}}</option>
        </select>
    </fieldset>
</div>
