<!--<div class="" data-role="appbar">
    <a href="javascript:void(0)" class="brand no-hover">
        Mapas Dinámicos
    </a>

    <div class="app-bar-container">
        <a href="javascript:void(0)" class="dropdown-toggle app-bar-item">Estadísticas</a>
        <ul class="d-menu" data-role="dropdown" [ngStyle]="leftMenu">
            <li>
                <a href="#" class="dropdown-toggle">Agrícola</a>
                <ul class="d-menu" data-role="dropdown">
                    <li>
                        <a href="javascript:void(0)" (click)="onClick($event)">
                            Producción por Cultivo
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="onClick($event)">
                            Producción por Estado
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="onClick($event)">Pecuario</a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="onClick($event)">Pesquero</a>
            </li>
        </ul>
    </div>
</div>
-->

<div class="app-bar">
    <a class="brand" href="javascript:void(0)">
        Mapas Dinámicos
    </a>

    <ul class="app-bar-menu">
        <li>
            <a class="dropdown-toggle" href="javascript:void(0)">Estadísticas</a>
            <ul class="d-menu" data-role="dropdown">
                <li class="">
                    <a href="javascript:void(0)" class="dropdown-toggle">Agrícola</a>
                    <ul class="d-menu" data-role="dropdown">
                        <li>
                            <a href="javascript:void(0)">Producción por Cultivo</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Producción por Estado</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">Pecuario</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Pesquero</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0)">Capas</a>
        </li>
    </ul>
</div>
