<nav class="navbar">
    <div class="dropdown">
        <button class="dropbtn">
            Estadísticas
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="sub-dropdown">
                <button class="sub-dropbtn">
                    Agrícola
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="sub-dropdown-content">
                    <a href="#">Producción por Cultivo</a>
                    <a href="#">Producción por Estado</a>
                </div>
            </div>
            <a href="#">Pecuario</a>
            <a href="#">Pesquero</a>
        </div>
    </div>
    <a href="#">Capas</a>
</nav>
