.table {
    width: 100%;
    border: 1px solid black;
}

.table td,
.table th {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.der {
    text-align: right;
}

.izq {
    text-align: left;
}

.counter .numbers,
.counter .previous,
.counter .next {
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}
