<div class="horizontal-scroller">
    <table class="table" cellspacing="0">
        <thead>
            <tr>
                <ng-container *ngFor="let col of columnas">
                    <th *ngIf="col.show == true" (click)="filterData(columna)">
                        {{col.cabecera}}
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr #tr *ngFor="let row of _renderer" (click)="onHandleClickRow(row, $event)">
                <ng-container *ngFor="let col of columnas">
                    <td *ngIf="col.show == true" [ngClass]="col.align">
                        <ng-container *ngIf="col.align == 'izq'">
                            {{row[col.campo]}}
                        </ng-container>
                        <ng-container *ngIf="col.align == 'der'">
                            {{row[col.campo] | number:'.2'}}
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
            <tr>
                <ng-container *ngFor="let col of columnas">
                    <td *ngIf="col.show == true" class="der">
                        <ng-container *ngIf="col.isRowTotals == true">
                            Totales
                        </ng-container>
                        <ng-container *ngIf="col.isRowTotals == false">
                            {{totals[col.campo] | number:'.2'}}
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>

<div class="counter">
    <div (click)="previous($event)" class="previous">previous</div>
    <div *ngFor="let page of pages" (click)="showPage(page)" class="numbers">
        {{page}}
    </div>
    <div (click)="next($event)" class="next">next</div>
</div>
