<table class="table" cellspacing="0">
    <thead>
        <tr>
            <th *ngFor="let columna of columnas" (click)="filterData(columna)">
                {{columna.cabecera}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of _renderer">
            <td *ngFor="let col of columnas" [ngClass]="col.align">
                {{row[col.index - 1]}}
            </td>
        </tr>

        <tr>
            <td *ngFor="let item of totals" class="der">
                {{item}}
            </td>
        </tr>

    </tbody>
</table>
<div class="counter">
    <div (click)="previous($event)">previous</div>
    <div *ngFor="let page of pages" (click)="showPage(page)">
        {{page}}
    </div>
    <div (click)="next($event)">next</div>
</div>
