<button type="button" class="btn btn-secondary" (click)="onHandleClick()" title="Selección del color para tematizar el mapa">
    <div class="color-picker" [ngStyle]="{'background-color': background_color}"></div>
</button>
<div class="absolute">
    <div class="window" [ngStyle]="{'display': (!visibility ? 'none' : 'inherit') }">
        <div class="window-caption">
            <span class="title">
                Selecciona el color
            </span>
        </div>
        <div class="window-content p-2">
            <ul class="color-display">
                <li>
                    <div class="btn bg" style="background-color: #C00000" (click)="onColorSelect($event)"></div>
                    <div class="btn bg" style="background-color: #FF0000" (click)="onColorSelect($event)"></div>
                    <div class="btn bg" style="background-color: #FFC000" (click)="onColorSelect($event)"></div>
                    <div class="btn bg" style="background-color: #FFFF00" (click)="onColorSelect($event)"></div>
                    <div class="btn bg" style="background-color: #92D050" (click)="onColorSelect($event)"></div>
                    <div class="btn bg" style="background-color: #00B050" (click)="onColorSelect($event)"></div>
                    <div class="btn bg" style="background-color: #00B0F0" (click)="onColorSelect($event)"></div>
                    <div class="btn bg" style="background-color: #0070C0" (click)="onColorSelect($event)"></div>
                    <div class="btn bg" style="background-color: #002060" (click)="onColorSelect($event)"></div>
                    <div class="btn bg" style="background-color: #7030A0" (click)="onColorSelect($event)"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
