@import 'bootstrap/dist/css/bootstrap.min.css';

.color-picker {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    padding: 2px;
}

.absolute {
    position: absolute;
    z-index: 2050;
}

ul.color-display {
    -webkit-padding-start: 0;
    list-style: none;
    margin: 0px;
    width: 300px;
}

ul.color-display li {
    display: inline-block;
}

.bg {
    margin: 2px;
    width: 26px;
    height: 26px;
}
