.color-picker {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    padding: 2px;
}

.btn {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7px;
}

.absolute {
    position: absolute;
    z-index: 2050;
}

ul.color-display {
    -webkit-padding-start: 0;
    list-style: none;
    margin: 0px;
    width: 300px;
}

ul.color-display li {
    display: inline;
}

.bg {
    margin: 2px;
    width: 26px;
    height: 26px;
}
