<div [formGroup]="group">
    <fieldset>
        <legend>Ciclo</legend>
        <div class="form-check">
            <input (click)="onChange($event)" formControlName="{{name}}" class="form-check-input" type="radio" name="ciclo" id="oto-inv-{{id}}"
                value="1*Otoño-Invierno" checked/>
            <label class="form-check-label" for="oto-inv-{{id}}">
                Otoño-Invierno
            </label>
        </div>

        <div class="form-check">
            <input (click)="onChange($event)" formControlName="{{name}}" class="form-check-input" type="radio" name="ciclo" id="pri-ver-{{id}}"
                value="2*Primavera-Verano" />
            <label class="form-check-label" for="pri-ver-{{id}}">
                Primavera-Verano
            </label>
        </div>

        <div class="form-check">
            <input (click)="onChange($event)" formControlName="{{name}}" class="form-check-input" type="radio" name="ciclo" id="perennes-{{id}}"
                value="3*Perennes" />
            <label class="form-check-label" for="perennes-{{id}}">
                Perennes
            </label>
        </div>

        <div class="form-check">
            <input (click)="onChange($event)" formControlName="{{name}}" class="form-check-input" type="radio" name="ciclo" id="anio-agricola-{{id}}"
                value="4*Año Agrícola" />
            <label class="form-check-label" for="anio-agricola-{{id}}">
                Año Agrícola
            </label>
        </div>

        <div class="form-check">
            <input (click)="onChange($event)" formControlName="{{name}}" class="form-check-input" type="radio" name="ciclo" id="ciclos-perennes-{{id}}"
                value="5*Cíclicos y Perennes" />
            <label class="form-check-label" for="ciclos-perennes-{{id}}">
                Cíclicos y Perennes
            </label>
        </div>
    </fieldset>
</div>
