<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <clr-dropdown>
                <button type="button" class="nav-link" clrDropdownTrigger>
                    Estadística
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen>
                    <!-- Primer menu -->
                    <clr-dropdown>
                        <button type="button" clrDropdownTrigger>Agrícola</button>
                        <clr-dropdown-menu>
                            <button type="button" (click)="onOpen($event)" clrDropdownItem>Producción por Cultivo</button>
                            <button type="button" (click)="onOpen($event)" clrDropdownItem>Producción por Estado</button>
                        </clr-dropdown-menu>
                    </clr-dropdown>
                    <button type="button" clrDropdownItem>Pecuario</button>
                    <button type="button" clrDropdownItem>Pesquero</button>
                </clr-dropdown-menu>
            </clr-dropdown>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
    </ul>
</nav>
