<clr-vertical-nav class="full-height" [clrVerticalNavCollapsible]="true">

    <clr-vertical-nav-group>
        Estadísticas
        <clr-vertical-nav-group-children>
            <clr-vertical-nav-group>
                &nbsp;&nbsp;&nbsp; Módulo Agrícola
                <clr-vertical-nav-group-children>
                    <a clrVerticalNavLink class="selectable"  (click)="open('produccion_cultivo')">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Producción por Cultivo
                    </a>
                    <a clrVerticalNavLink class="selectable" (click)="open('produccion_estado')">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Producción por Estado
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <a clrVerticalNavLink class="selectable" (click)="open('modulo_pecuario')">
                &nbsp;&nbsp;&nbsp; Módulo Pecuario
            </a>
            <a clrVerticalNavLink class="selectable" (click)="open('modulo_pesquero')">
                &nbsp;&nbsp;&nbsp; Módulo Pesquero
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <a clrVerticalNavLink class="selectable" (click)="open('capas_geograficas')">
        Capas Geográficas
    </a>
</clr-vertical-nav>