<div appEsriWidget position="{{''}}" class="popup hidden" #popup>
    <div class="popup-content">
        <div class="popup-item">
            Cultivo:
            <b>{{value.cultivo}}</b>
        </div>
        <div *ngIf="hasEstado()" class="popup-item">
            Estado:
            <b>{{value.estado}}</b>
        </div>
        <div *ngIf="hasDistrito()" class="popup-item">
            Distrito:
            <b>{{value.distrito}}</b>
        </div>
        <div *ngIf="hasMunicipio()" class="popup-item">
            Municipio:
            <b>{{value.municipio}}</b>
        </div>
        <div class="popup-item">
            Sup. Sembrada (Ha):
            <b>{{value.sembrada | number:'1.2' }}</b>
        </div>
        <div class="popup-item">
            Sup. Cosechada (Ha):
            <b>{{value.cosechada | number:'1.2' }}</b>
        </div>
        <div class="popup-item">
            Producción (Ton):
            <b>{{value.produccion | number:'1.2' }}</b>
        </div>
        <div class="popup-item">
            Valor (Miles de pesos):
            <b>{{ (value.valor / 1000) | number:'1.2' }}</b>
        </div>
    </div>
</div>
