<div appEsriWidget position="{{''}}" class="popup hidden" #popup>
    <div class="popup-content">
        <div class="popup-item">
            Cultivo:
            <b>Acelga</b>
        </div>
        <div class="popup-item">
            Estado:
            <b>Chihuahua</b>
        </div>
        <div class="popup-item">
            Sup. Sembrada (Ha):
            <b>3.00</b>
        </div>
        <div class="popup-item">
            Sup. Cosechada (Ha):
            <b>3.00</b>
        </div>
        <div class="popup-item">
            Producción (Ton):
            <b>26.40</b>
        </div>
        <div class="popup-item">
            Valor (Miles de pesos):
            <b>108.24</b>
        </div>
    </div>
</div>
