<div [formGroup]="group">
    <fieldset>
        <legend>Catálogo</legend>
        <div class="form-check">
            <input (click)="onClickEvent($event)" formControlName="{{name}}" class="form-check-input" type="radio" name="catalogo" id="generico-{{id}}"
                value="generico" checked />
            <label class="form-check-label" for="generico-{{id}}">
                Genérico
            </label>
        </div>

        <div class="form-check">
            <input (click)="onClickEvent($event)" formControlName="{{name}}" class="form-check-input" type="radio" name="catalogo" id="detalle-{{id}}"
                value="detalle" />
            <label class="form-check-label" for="detalle-{{id}}">
                Detalle
            </label>
        </div>
    </fieldset>
</div>
