<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" ng-style="height:100%;">
    <div *ngIf="!collapsed">
        <form class="compact" [formGroup]="form" (ngSubmit)="onSubmit($event)">
            <section class="form-block">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Ciclo</label>
                        <br />
                        <div class="radio-inline">
                            <input type="radio" value="oto-inv" formControlName="ciclo" name="ciclo" id="btn-1">
                            <label for="btn-1">Otoño-Invierno</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" value="pri-ver" formControlName="ciclo" name="ciclo" id="btn-2">
                            <label for="btn-2">Primavera-Verano</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" value="perennes" formControlName="ciclo" name="ciclo" id="btn-3">
                            <label for="btn-3">Perennes</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" value="anio" formControlName="ciclo" name="ciclo" id="btn-4">
                            <label for="btn-4">Año Agricola</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" value="all" formControlName="ciclo" name="ciclo" id="btn-5">
                            <label for="btn-5">Todos</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Modalidad</label>
                        <br/>
                        <div class="radio-inline">
                            <input type="radio" value="riego" formControlName="modalidad" name="modalidad" id="btn-6">
                            <label for="btn-6">Riego</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" value="temporal" formControlName="modalidad" name="modalidad" id="btn-7">
                            <label for="btn-7">Temporal</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" value="all" formControlName="modalidad" name="modalidad" id="btn-8">
                            <label for="btn-8">Todos</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Catálogo</label>
                        <br/>
                        <div class="radio-inline">
                            <input type="radio" value="generico" formControlName="catalogo" name="catalogo" id="btn-9" checked>
                            <label for="btn-9">Genérico</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" value="detalle" formControlName="catalogo" name="catalogo" id="btn-10">
                            <label for="btn-10">Detalle</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label for="select-3">Cultivo</label>
                        <div id="select-3" class="select">
                            <select formControlName="cultivo" name="cultivo" id="select-3">
                                <option value="0">Resumen Nacional</option>
                                <option *ngFor="let cultivo of cultivos" value="{{cultivo.id}}">{{cultivo.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="select-4">Variedad</label>
                        <div id="select-4" class="select">
                            <select formControlName="variedad" name="variedad" id="select-4">
                                <option value="0">Seleccionar Variedad</option>
                                <option *ngFor="let item of variedad" value="{{item.id}}">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label for="select-5">Estado</label>
                        <div id="select-5" class="select">
                            <select formControlName="estados" name="estados" id="select-5">
                                <option selected [value]="0">Todos</option>
                                <option *ngFor="let estado of estados" value="{{estado.id}}">{{estado.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Filtro Estado</label>
                        <br />
                        <div class="radio-inline">
                            <input formControlName="territorio" type="radio" name="territorio" id="btn-11" value="1">
                            <label for="btn-11">Por Estado</label>
                        </div>
                        <div class="radio-inline">
                            <input formControlName="territorio" type="radio" name="territorio" id="btn-12" value="2">
                            <label for="btn-12">Por Distritos</label>
                        </div>
                        <div class="radio-inline">
                            <input formControlName="territorio" type="radio" name="territorio" id="btn-13" value="3">
                            <label for="btn-13">Por Municipios</label>
                        </div>
                        <div class="radio-inline">
                            <input formControlName="territorio" type="radio" name="territorio" id="btn-14" value="4">
                            <label for="btn-14">Por Distrito-Municipio</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </div>
                </div>
            </section>
        </form>
    </div>
</clr-vertical-nav>