.no-margin {
    margin: 0;
}

.main-container .content-container .content-area {
    padding: 0;
    position: relative;
    height: 100%;
}

.full-xy {
    height: 100%;
    width: 100%;
}

.full-y {
    height: 100%;
}

.nav-link {
    cursor: pointer;
}