<div class="main-container">
    <header class="header-1">
        <div class="branding">
            <a class="nav-link">
                <span class="title">Mapas Dinámicos</span>
            </a>
        </div>
    </header>

    <div class="content-container">
        <div appMenu>
            <!-- Main Menu -->
            <app-main-menu 
                (prodCultivo)="openMenuProdCultivo()"
                (prodEstado)="openMenuProdEstado()"
            ></app-main-menu>
        </div>
        <div class="content-area">
            
        </div>

        <div appDialog>
            <!-- Dialog Container -->
        </div>
    </div>
</div>