<div class="main-container">
    <header class="header-1">
        <div class="branding">
            <a class="nav-link">
                <span class="title">Mapas Dinámicos</span>
            </a>
        </div>

        <div class="header-nav">
            <a class="nav-link" (click)="open($event)">
                <span class="nav-text">
                    Menú Estadísticas
                </span>
            </a>
            <a class="nav-link">
                <span class="nav-text">
                    Capas Geográficas
                </span>
            </a>
        </div>

        <div class="header-actions">
            <!--<clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="user"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="#" clrDropdownItem>About</a>
                    <a href="#" clrDropdownItem>Preferences</a>
                    <a href="#" clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>-->
        </div>
    </header>

    <div class="content-container">
        <div appMenu>
            <!-- Main Menu -->
        </div>
        <div class="content-area">
            
        </div>
    </div>
</div>