<div class="bottom-nav" [ngStyle]="{'height': !this.show ? '50px' : ''}">
    <div class="toolbar">
        <button *ngIf="this.show" class="btn btn-sm btn-icon">
            PDF
        </button>
        <button class="push-right btn btn-sm btn-icon" (click)="this.show = true">
            &#9723;
        </button>
        <button class="push-right btn btn-sm btn-icon" (click)="this.show = false">
            &#95;
        </button>
    </div>
    <div class="content">
        <clr-datagrid class="datagrid-compact" [(clrDgSingleSelected)]="selectedCultivo" [clDgRowSelection]="true">

            <clr-dg-placeholder>No hay datos que mostrar!</clr-dg-placeholder>

            <clr-dg-column *ngFor="let item of data | iteratorKeys">{{item.key}}</clr-dg-column>

            <clr-dg-row *clrDgItems="let item of data" [clrDgItem]="item">
                <clr-dg-cell>{{item.nombre}}</clr-dg-cell>
                <clr-dg-cell>{{item.sembrada}}</clr-dg-cell>
                <clr-dg-cell>{{item.cosechada}}</clr-dg-cell>
                <clr-dg-cell>{{item.produccion}}</clr-dg-cell>
                <clr-dg-cell>{{item.rendimiento}}</clr-dg-cell>
                <clr-dg-cell>{{item.pmr}}</clr-dg-cell>
                <clr-dg-cell>{{item.valor}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="5">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}}
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>