.bottom-nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow-y: hidden;
    background-color: #eee;
    border: 1px solid #ddd;
}

table tbody > tr:hover {
    background-color: #eee;
}

.toolbar {
    padding: 7px;
}

.content {
    margin-top: 3px;
    padding: 1px;
}

.push-right {
    float: right;
}