<div class="bottom-nav" [ngStyle]="{'height': !this.show ? '50px' : ''}">
    <div class="toolbar">
        <button *ngIf="show" class="btn btn-sm btn-link" (click)="showColorModal()">
            Sel. Color
        </button>
        <button class="push-right btn btn-sm btn-icon" (click)="show = true">
            &#9723;
        </button>
        <button class="push-right btn btn-sm btn-icon" (click)="show = false">
            &#95;
        </button>
    </div>

    <div class="content">
        <clr-datagrid class="datagrid-compact" [clDgRowSelection]="true">

            <clr-dg-placeholder>No hay datos que mostrar!</clr-dg-placeholder>

            <clr-dg-column *ngFor="let item of msg.fields">{{ item }}</clr-dg-column>

            <clr-dg-row *clrDgItems="let item of msg.data" [clrDgItem]="item">
                <clr-dg-action-overflow>
                    <button class="action-item" (click)="showQueryOnMap(item)">Mostar en Mapa</button>
                </clr-dg-action-overflow>
                <clr-dg-cell *ngFor="let key of item | iteratorKeys: msg.printableFields">{{ item[key] }}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="5">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}}
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>