.window {
    position: absolute;
    z-index: 2048;
    top: 100px;
    left: 100px;
}

.window-content {
    overflow: unset;
}

.minimize {
    height: 54px;
    width: 106px;
    overflow: hidden;
}
