<div #window2 id="{{id}}" appDraggable class="window">
    <div class="window-caption">
        <span class="title">
            <ng-content select="h3"></ng-content>
        </span>
        <div class="buttons">
            <span class="btn-min" (click)="handleClickMinimize($event)"></span>
            <span class="btn-max" (click)="handleClickMaximize($event)"></span>
            <span class="btn-close" (click)="handleClickClose($event)"></span>
        </div>
    </div>
    <div class="window-content p-2">
        <ng-content select="div"></ng-content>
    </div>
</div>
