.window {
    position: absolute;
    z-index: 2048;
    top: 100px;
    left: 150px;
}

.window-content {
    overflow: unset;
    overflow: visible;
}

.minimize {
    height: 54px;
    width: 106px;
    overflow: hidden;
}
