<app-dialog title="Anuario agrícola, producción por cultivo">
    <form class="">
        <section class="form-block">
            <label>Ciclo</label>
            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="radio">
                        <input type="radio" name="ciclos" id="a" checked>
                        <label for="a">Otoño-Invierno</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="ciclos" id="b">
                        <label for="b">Primavera-Verano</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="ciclos" id="c">
                        <label for="c">Perennes</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="ciclos" id="d">
                        <label for="d">Año agrícola</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="ciclos" id="e">
                        <label for="e">Todos</label>
                    </div>
                </div>
            </div>
        </section>


        <section class="form-block">
            <label>Modalidad</label>
            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="radio">
                        <input type="radio" name="modalidad" id="f">
                        <label for="f">Riego</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="modalidad" id="g">
                        <label for="g">Temporal</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="modalidad" id="h" checked>
                        <label for="h">Ambos</label>
                    </div>
                </div>
            </div>
        </section>


        <section class="form-block">
            <label>Catálogo</label>
            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="radio">
                        <input type="radio" name="catalogo" id="i" checked>
                        <label for="i">Genérico</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="catalogo" id="j">
                        <label for="j">Detalle</label>
                    </div>
                </div>
            </div>
        </section>

        <section class="form-block">
            <div class="form-group row">
                <div class="col-lg-4">
                    <label for="k">Año</label>
                </div>
                <div class="col-lg-8">
                    <div class="select form-control">
                        <select id="k">
                            <option>2016</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                    <div class="col-lg-3">
                        <label for="k">Estado</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="select form-control">
                            <select id="k">
                                <option>Resumen Nacional</option>
                            </select>
                        </div>
                    </div>
                </div>
        </section>
    </form>
</app-dialog>