.info {
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    padding: 5px;
    font-size: 16px;
    position: absolute;
    top: 35px;
    width: 500px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}
