<div class="${baseClass}">
    <div class="${baseClass}-header">
        <button class="winbtn" data-dojo-attach-event="ondijitclick: onCloseHandle">&times;</button>
        <button class="winbtn" data-dojo-attach-event="ondijitclick: onMaximizeHandle">&Square;</button>
        <button class="winbtn" data-dojo-attach-event="ondijitclick: onMinimizeHandle">&UnderBar;</button>
        <div class="title" data-dojo-attach-point="titleNode"></div>
    </div>
    <div class="${baseClass}-body" data-dojo-attach-point="containerNode"></div>
</div>